
html, body {
    width: 100%;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

/*SIDEBAR MENU -----*/
.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #43425D 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav p {
    top: 42px;
    left: 20px;
    height: 19px;
    text-align: left;
    font: Bold 15px/21px Source Sans Pro;
    letter-spacing: 3px;
    color: #FFFFFF;
    opacity: 1;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* .menu{
    width: 277px;
    height: 38px;
    border: 1px solid black;
}

#foto2 {
    padding: 10px;
} */

.main {
    margin-left: 265px; /* Same as the width of the sidenav */
    font-size: 25px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.main form {
    margin-left: 29px; /* Same as the width of the sidenav */
    height: 70px;
    width: 300px;
    font-size: 25px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    text-align: left;
    font: Regular 25px/20px Source Sans Pro;
    letter-spacing: 0;
    color: #BCBCCB;
    opacity: 1;
}

input[type=submit] {
    width: 301px;
    height: 70px;
    color: #BCBCCB;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #858FA1 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
    font: Regular 25px/20px Source Sans Pro;
}

input[type=submit]:hover {
    background-color: #43425D;
}

input[type=text] {
    width: 301px;
    height: 70px;
    padding: 14px 20px;
    margin: 8px 0;
    font: Regular 25px/20px Source Sans Pro;
}

.list {
    width: 301px;
    height: 70px;
    padding: 14px 20px;
    margin: 8px 10px;
    font: Regular 25px/20px Source Sans Pro;
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} /*----- SIDEBAR MENU*/


/* .row, .col {
    border: 2px solid black;
} */

/* menu do site mais video */
#header {
    height: 600px;
}

.foto {
    text-align: center;
    margin-top: 60px;
}

.logo {
    text-align: left;
    margin-top: 15px;
}

#display-flex {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.texto {
    width: 400px;
    height: 450px;
    border-radius: 40px;
    text-align: left;
    margin: 15px;
    background-color: rgba(255, 123, 0, 0.685);
}

.texto h2{
    text-align: justify;
    margin: 0 0 20px 20px;
}

.texto p{
    width: 300px;
    height: 350px;
    text-align: justify;
    padding-left: 70px;
    padding-top: 30px;
}

.texto2{
    width: 400px;
    height: 450px;
    text-align: left;
    margin: 15px;
    background-color: blue;
    border-radius: 30px;
}

.texto2 h2 {
    margin: 15px;
}

.texto3{
    width: 400px;
    height: 450px;
    text-align: left;
    margin: 15px;
    border-radius: 30px;
}

.texto3 h2 {
    margin: 15px;
    text-align: right;
}

/* footer */
#footer {
    height: 150px;
    /*border: 1px solid black; */
    margin-top: 15px;
}

.socialMedia{
    text-align: right;
}

/* divisão de estilo da tela 1 */

#flex{
    display: flex;
    flex-direction: row;
}

#flex2{
    display: flex;
    flex-direction: column;
}

.telaAzul {
    top: 0px;
    left: 0px;
    width: 800px;
    height: 960px;
}

.formulario {
    top: 0px;
    left: 800px;
    width: 800px;
    height: 960px;
    /* border: 5px solid black; */
    text-align: center;
}

.formulario h2{
    margin-top: 236px;
}

.formulario p{
    margin-top: 236px;
    margin-left: 283px;
    margin-right: 307px;
}


.login input[type=text]{
    width: 400px;
    height: 30px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.botao input[type=submit]{
    width: 185px;
    height: 50px;
    border: 1px solid #43425D;
    border-radius: 4px;
    text-align: center;
    font: Regular 18px/23px Source Sans Pro;
    letter-spacing: 0;
    color: #FFFFFF;
}

.botao {
    padding:20px;
}

#entrar{
    background-color: #43425D;
}

#cadastro{
    background-color: white;
    color: #4D4F5C;

}

.login{
    margin: 0 200px;
    padding-top: 30px;
}

.quadrado{
    border: 1px solid gray;
    width: 18px;
    height: 18px;
}

.container-texto span{
    padding: 40px;
}


/* imagens da sidebar */

#borda:hover{
    border-left: 2px solid blue;
    background-color: rgb(38, 38, 59);
}

#foto{
    padding-right: 10px;
}


