
html, body {
    width: 100%;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

/*SIDEBAR MENU -----*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #43425D;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 25px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} /*----- SIDEBAR MENU*/


/* .row, .col {
    border: 2px solid black;
} */

/* menu do site mais video */
#header {
    height: 600px;
}

.foto {
    text-align: center;
    margin-top: 60px;
}

.logo {
    text-align: left;
    margin-top: 15px;
}

#display-flex {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.texto {
    width: 400px;
    height: 450px;
    border-radius: 40px;
    text-align: left;
    margin: 15px;
    background-color: rgba(255, 123, 0, 0.685);
}

.texto h2{
    text-align: justify;
    margin: 0 0 20px 20px;
}

.texto p{
    width: 300px;
    height: 350px;
    text-align: justify;
    padding-left: 70px;
    padding-top: 30px;
}

.container1 {
    border: 1px solid black;
    text-align: right;
    margin: 15px;
}

.texto2{
    width: 400px;
    height: 450px;
    text-align: left;
    margin: 15px;
    background-color: blue;
    border-radius: 30px;
}

.texto2 h2 {
    margin: 15px;
}

.texto3{
    width: 400px;
    height: 450px;
    text-align: left;
    margin: 15px;
    border-radius: 30px;
}

.texto3 h2 {
    margin: 15px;
    text-align: right;
}

/* footer */
#footer {
    height: 150px;
    /*border: 1px solid black; */
    margin-top: 15px;
}

.socialMedia{
    text-align: right;
}
